* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

#root {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 50%;

}

.nav {
    height: 70px;
    padding: 22px 30px;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);;
}

.logo {
    max-width: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hero-img {
    max-width: 400px;
    align-self: center;
}

.hero-title {
    margin-bottom: 0px;
    font-size: 36px;
}

.hero-text {
    max-width: 320px;
    font-size: 16px;
}

.card {
    position: relative;
    border-radius: 8px;
    max-width: 180px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px;
}

.card--img {
    max-width: 176px;
    border-radius: 8px;
}

.card--star {
    display: flex;
    align-items: center;
    gap: 4px;
}

.card--starimg {
    width: 13px;
}

.card--star h6 {
    font-weight: 300;
    font-size: 12px;
    margin: 0;
}

.card--number {
    color: #918E9B;
}

.card--info {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
}

.cards {
    display: flex;
}
